<style type="text/css">
    div.chart {
        width: 95%,
        height: 250px
        padding: 5px;
        margin: 2px;
    }
    div.diffs {
        width: 95%,
        height: 250px
        padding: 5px;
        margin: 2px;
    }
    a.alink, a.alink:visited, a.alink:active, a.alink:link {
        color: blue;
    }
    a.alink:hover {
        text-decoration: underline;
        color: blue;
    }
    table.noise {
        width: 100%;
        caption-side: bottom;
    }
    table.noise thead {
        border-bottom-style: solid; 
        border-bottom-width: 1px
    }
    table.noise tr:nth-child(even) {
        background-color: whitesmoke;
    }
    table.noise tr:nth-child(odd) {
        background-color: white;
    }
    table.colmap {
        border: 1px solid black;
    }
    table.colmap td {
        font-size: xx-small;
        /*display: inline;*/
        position: relative;
    }
    table.colmap td:hover {
        border: 1px solid black;
    }
    table.colmap td:hover:before {
        background: rgba(0,0,0,.8);
        border-radius: 2px;
        color: #fff;
        content: attr(title);
        padding: 5px 15px;
        position: absolute;
        z-index: 99;
        width: 200px;
        margin-top: -40px;
        font-size: small;
    }
</style>
<script type="text/javascript">
    var pedestal_update_files = [[files_json]];
    var noise_data = [[noise_data_json]];
    var noise_ped_thresholds = [[_ped_thresholds]];
    
    // how many significant digits
    var raw_prec = 4;
    
    console.log("pedestal_update_files: " + pedestal_update_files.length);
    
    function noise_init_diff_dist_chart(ch) {
        try {
            ch.table = new google.visualization.DataTable();
            ch.table.addColumn('number', 'Difference [ADC counts]');
            ch.table.addColumn('number', 'a.u.');
            ch.table.addRows(ch.data);
            
            var ticks_arr = []
            for(var i=0; i<=10; i++) ticks_arr.push(i*0.5);
            var options = { 
                title: ch.title, 
                legend: { position: 'none' },
                hAxis: {
                    title: 'Difference [ADC counts]',
                    ticks: ticks_arr,
                    titleTextStyle: { italic: false},
                },
                vAxis: {
                    title: 'Number of ADC:s',
                    scaleType: 'log',
                    titleTextStyle: { italic: false},
                },
                explorer: { keepInBounds: true }
            };
            ch.element = document.getElementById(ch.divname);
            ch.chart = new google.visualization.ColumnChart(ch.element);
            ch.chart.draw(ch.table, options);
        }
        catch(exc) {
            console.log("noise_init_diff_dist_chart Error drawing chart: "+exc);
        }
    }
    
    function noise_show_time_evolution(evt, modid, use_run_number) {
        console.log("noise_show_time_evolution() " + evt+' mod: '+modid);
        var ch = { divname: 'noise_time_evolution_chart', 
                    title: 'Number of ADC:s above threshold for '+evt+((evt!='Tile') && (modid!='all') ? modid : '')
        };
        try {
            ch.table = new google.visualization.DataTable();
            if(use_run_number) ch.table.addColumn('number', 'Run number');
            else ch.table.addColumn('datetime', 'Time');
            ch.table.addColumn({type: 'string', role: 'tooltip', 'p': {html: true}});
            ch.table.addColumn('number', '>0.5 counts');
            ch.table.addColumn('number', '>3 counts');
            ch.table.addColumn('number', '>10 counts');
            ch.table.addColumn('number');
            ch.table.addColumn('number');
            ch.table.addColumn('number');
            ch.data = [];
            for(var fid in pedestal_update_files) {
                var filed = pedestal_update_files[fid];
                var d = new Date(filed.info.date);
                var data = null;
                if(evt == 'Tile') data = noise_get_tilecal_diffs(fid);
                else if(modid == 'all') data = noise_data[evt].diffs[fid];
                else data = noise_get_drawer_diffs(fid, evt, modid);
                var toolttext = '<div><b>Run:</b> '+filed.run_number+'<br>';
                toolttext += '<b>Date:</b> '+d.toDateString()+'</br>';
                toolttext += '<b>>0.5:</b> '+data[0]+'</br>';
                toolttext += '<b>>3:</b> '+data[1]+'</br>';
                toolttext += '<b>>10:</b> '+data[2]+'</br>';
                toolttext += '</div>';
                if(use_run_number) ch.data.push([filed.run_number, toolttext].concat(data).concat(data));
                else ch.data.push([d, toolttext].concat(data).concat(data));
            }
            ch.table.addRows(ch.data);
            
            var options = { 
                title: ch.title, 
                legend: { position: 'top' },
                focusTarget: 'category',
                tooltip: {isHtml: true},
                series: {
                    0: { color: 'green', lineWidth: 2 },
                    1: { color: 'yellow', lineWidth: 2 },
                    2: { color: 'red', lineWidth: 2 },
                    3: { color: 'black', lineWidth: 0, pointSize: 5, visibleInLegend: false },
                    4: { color: 'black', lineWidth: 0, pointSize: 5, visibleInLegend: false },
                    5: { color: 'black', lineWidth: 0, pointSize: 5, visibleInLegend: false }
                },
                hAxis: {
                    baselineColor: 'black',
                    title: (use_run_number ? 'Run number': 'Time'),
                    titleTextStyle: { italic: false},
                    gridlines: {color: '#a0a0a0', count:10},
                },
                vAxis: {
                    baselineColor: 'black',
                    title: 'Number of ADC:s',
                    titleTextStyle: { italic: false},
                    gridlines: {color: '#a0a0a0', count:10},
                },
                explorer: {}
            };
            ch.element = document.getElementById(ch.divname);
            ch.chart = new google.visualization.LineChart(ch.element);
            ch.chart.draw(ch.table, options);
        }
        catch(exc) {
            console.log("noise_show_time_evolution Error drawing chart: "+exc);
        }
    }
    
    function noise_draw_main_time_evolution_chart() {
        if($('#noise_time_evolution_chart_wrapper').length) return;
        // check that we can draw
        var can_draw = false;
        try { google.charts; can_draw = true; }
        catch(exc) {}
        if(!can_draw) return;
        var contid = 'noise_time_evolution_chart_wrapper';
    
        var parts = ['Tile', 'LBA', 'LBC', 'EBA', 'EBC'];
        var partselid = contid+'_part';
        var modselid = contid+'_mod';
        var runnumid = contid+'_runnum';
        
        var sel = $('<select id="'+partselid+'"></select>').change(function() { 
            noise_show_time_evolution($(this).val(), $('#'+modselid).val(), $('#'+runnumid).is(':checked')); 
        });
        for(var i in parts) sel.append($('<option></option>').attr('value', parts[i]).text(parts[i])).attr('selected', i==0);
        
        var modsel = $('<select id="'+modselid+'"></select>').change(function() { 
            noise_show_time_evolution($('#'+partselid).val(), $(this).val(), $('#'+runnumid).is(':checked')); 
        });
        modsel.append($('<option></option>').attr('value', 'all').text('all')).attr('selected', true);
        for(var i=1; i<65; ++i) modsel.append($('<option></option>').attr('value', i).text(''+i)).attr('selected', false);
        
        var runumsel = $('<input type="checkbox" id="'+runnumid+'" name="runnumid"></input>').change(function() {
            noise_show_time_evolution($('#'+partselid).val(), $('#'+modselid).val(), $(this).is(':checked')); 
        });
            
        var wrap = noise_make_div(contid, 'chart').height("250px");
        noise_make_close_link(wrap, contid);
        wrap.append($('<p></p>').append("Select Tile part to show time evolution for: ").append(sel)
            .append(' module: ').append(modsel).append(' ').append(runumsel).append(' show run number.')
        );
        wrap.append('<div id="noise_time_evolution_chart"></div>');
        $('#pedestal_update_container').append(wrap);
        noise_show_time_evolution('Tile', 'all', $('#'+runnumid).is(':checked'));
    }
    
    /** Compute difference for given attribute: 0-pedestal */
    function noise_get_diff(fid, partid, modid, chanid, gainid, attrid) {
        var d = noise_data[partid][modid][chanid][gainid][fid];
        if(attrid == 0) return Math.abs(d[0] - d[1]);
        return undefined;
    }
    
    /** check if values are above threshold */
    function noise_above_threshold(fid, partid, modid, chanid, gainid, attrid, thid) {
        var diff = noise_get_diff(fid, partid, modid, chanid, gainid, attrid)
        if(attrid == 0) return diff > noise_ped_thresholds[thid];
        else return undefined;
    }
    
    /** Get a summary of diffs for TILECAL, i.e. a sum of all partitions. */
    function noise_get_tilecal_diffs(fid) {
        var diffs = [0,0,0];
        for(var partid in noise_data) {
            for(var i=0; i<3; ++i) diffs[i] += noise_data[partid].diffs[fid][i];
        }
        return diffs;
    }
    
    /** Get diffs for a drawer */
    function noise_get_drawer_diffs(fid, partid, modid) {
        var diffs = [0,0,0];
        var d = noise_data[partid][modid];
        for(var chanid in d) {
            for(var gainid in d[chanid]) {
                for(var i=0; i<3; ++i) diffs[i] += noise_above_threshold(fid, partid, modid, chanid, gainid, 0, i);
            }
        }
        return diffs;
    }
    
    function noise_init_plugin() {
        console.log("noise_init_plugin()");
        noise_update_plugin_id();
        // main controls
        $('#pedestal_update_container').
            append('<a href="javascript:noise_show_files_table()" class="alink" style="color:blue">Run list</a> | ').
            append('<a href="javascript:noise_draw_main_time_evolution_chart()" class="alink" style="color:blue">Time evolution</a> | ').
            append('<a href="javascript:noise_show_settings()" class="alink" style="color:blue">Settings</a> | ').
            append('<a href="javascript:noise_show_help()" class="alink" style="color:blue">Help</a> | ').
            append('<a href="javascript:noise_reload_plugin()" class="alink" style="color:blue">Refresh</a>');
        noise_show_files_table();
        // needed in dev mode
        noise_draw_main_time_evolution_chart();
    }
    
    var noise_widget_id = '--none--';
    var noise_plugin_id = '--none--';
    function noise_update_plugin_id() {
        try {
            var wrapper_div = $("#pedestal_update_container").parent().parent().parent().parent();
            noise_widget_id = wrapper_div.attr('id');
            noise_plugin_id = wrapper_div.attr('data-plugin_id');
        }
        catch(ex) {
            console.log("noise_update_plugin_id() exception: "+ex)
        }
        console.log("noise_update_plugin_id widget_id: "+noise_widget_id+" plugin_id: "+noise_plugin_id)
    }
    
    function noise_reload_plugin(params) {
        if(params) paramstr = JSON.stringify(params);
        else paramstr = '';
        console.log("noise_reload_plugin() reloading with params: "+paramstr);
        $().LoadWidgetContent(noise_widget_id, noise_plugin_id, "/whatisnew/widget_content/", paramstr, true);
    }
    
    function noise_show_files_table() {
        var contid = '_files_table_cont';
        if($('#'+contid).length) return;
        var cont = noise_make_div(contid, 'diffs');
    	noise_make_close_link(cont, contid);
        var filestable = $('<table id="_files_table" class="noise"></table>');
        filestable.append('<thead><tr><th>Run</th><th>Date</th><th>>10</th><th>>3</th><th>>0.5</th><th>Action</th></tr></thead>');
        cont.append(filestable);
    	
        for(var fid in pedestal_update_files) {
            var filed = pedestal_update_files[fid];
            var d = new Date(filed.info.date);
            var diffs = noise_get_tilecal_diffs(fid);
            var rowid = 'noise_row_run_'+fid;
            var row = $('<tr id="'+rowid+'"></tr>');
            row.append('<td>'+filed.run_number+'</td>');
            row.append('<td>'+d.toDateString()+'</td>');
            row.append('<td>'+diffs[2]+'</td>');
            row.append('<td>'+diffs[1]+'</td>');
            row.append('<td>'+diffs[0]+'</td>');
            var actions = $('<td></td>');
            actions.append('<a href="javascript:noise_show_ped_distribution('+fid+')" class="alink" style="color:blue">Dist</a> | ');
            actions.append('<a href="javascript:noise_show_strange_channels('+fid+')" class="alink" style="color:blue">Ped diff</a> | ');
            actions.append('<a href="javascript:noise_show_run_info('+fid+')" class="alink" style="color:blue">Info</a> | ');
            actions.append('<a href="javascript:noise_show_map('+fid+')" class="alink" style="color:blue">Map</a>');
            row.append(actions);
            filestable.append(row);
        }
        $('#pedestal_update_container').append(cont);
    }
    
    function noise_show_settings() {
        var contid = '_settings_cont';
        if($('#'+contid).length) return;
        var cont = noise_make_div(contid, 'diffs');
    	noise_make_close_link(cont, contid);
        var settable = $('<table width="100%"></table>');
        
        var nruns = [[t_params|nruns]];
        var prefix_root = "[[t_params|prefix_root]]";
        var prefix_sqlite = "[[t_params|prefix_sqlite]]";
        var pattern_sqlite = "[[t_params|pattern_sqlite]]";
        var path = "[[t_params|path]]";
        
        settable.append('<tr><td>Number of runs to show</td><td><input type="text" id="sett_nruns" value="'+nruns+'"></input></td></tr>');
        settable.append('<tr><td>ROOT file prefix</td><td><input type="text" id="sett_prefix_root" style="width:100%" value="'+prefix_root+'"></input></td></tr>');
        settable.append('<tr><td>SQLite file prefix</td><td><input type="text" id="sett_prefix_sqlite" style="width:100%" value="'+prefix_sqlite+'"></input></td></tr>');
        settable.append('<tr><td>SQLite file pattern</td><td><input type="text" id="sett_pattern_sqlite" style="width:100%" value="'+pattern_sqlite+'"></input></td></tr>');
        settable.append('<tr><td>Path</td><td><input type="text" id="sett_path" style="width:100%" value="'+path+'"></input></td></tr>');
        cont.append(settable);
        cont.append('<p style="color:red">Warning: Make sure you enter the correct values before pressing save. All users of this plugin will be affected.</p>');
        cont.append('<a href="javascript:noise_update_settings()" class="alink" style="color:red">save</a>');
        $('#pedestal_update_container').append(cont);
    }
    
    function noise_update_settings() {
        var params = {
            nruns: $('#sett_nruns').val(),
            prefix_root: $('#sett_prefix_root').val(),
            prefix_sqlite: $('#sett_prefix_sqlite').val(),
            pattern_sqlite: $('#sett_pattern_sqlite').val(),
            path: $('#sett_path').val(),
        };
        noise_reload_plugin(params);
    }
    
    function noise_show_help() {
        var contid = '_noise_help_cont';
        if($('#'+contid).length) return;
        var cont = noise_make_div(contid, 'diffs');
    	noise_make_close_link(cont, contid);
    	
    	cont.append('<h2>Run List</h2>');
    	var infotext = '<p>The latest runs with pedestal events. '+
    	    'The table will display the number of ADC:s above certain thresholds, bad channels are not included.<br>'+
            '<dl><dt>Dist</dt><dd> Show the distribution of the differences between the run and values in COOL. </dd>'+
            '<dt>Ped Diffs</dt><dd> Show a table of the ADC:s that differ most from the value in COOL. </dd>'+
            '<dt>Info\</dt><dd> Show parameters for the run and the location of the SQLite file. </dd>'+
            '<dt>Map</dt><dd> Show an overview of changes in each channel.</dd>'+
            '</dl>';
    	cont.append(infotext);
    	cont.append('<h2>Time Evolution</h2>');
    	infotext = 'Press and drag to pan and scroll to zoom. Press the right button to reset.';
    	cont.append(infotext);
    	cont.append('<h2>Settings</h2>');
    	cont.append('<h2>Refresh</h2>');
    	$('#pedestal_update_container').append(cont);
    }
    
    var noise_cmap = ['LightGreen ', 'SpringGreen ', 'SandyBrown ', 'Tomato', 'black'];
    function noise_show_map(fid) {
        var mapid = 'noise_map_'+fid;
        if($('#'+mapid).length) $('#'+mapid).remove();
        else {
            var cont = noise_make_div(mapid, 'chart');
            noise_make_close_link(cont, mapid);
            var pid = mapid+'_sel_part';
            var rid = mapid+'_sel_cmp';
            var gid = mapid+'_sel_gain';
            
            // select part
            var parts = ['LBA', 'LBC', 'EBA', 'EBC'];
            var sel = $('<select id="'+pid+'"></select>').change(function() { 
                noise_show_map_for_part(fid, $(this).val(), $('#'+gid).val(), $('#'+rid).val()); 
            });
            for(var i in parts) sel.append($('<option></option>').attr('value', parts[i]).text(parts[i])).attr('selected', i==0);
            // select gain
            var selgain = $('<select id="'+gid+'"></select>').change(function() { 
                noise_show_map_for_part(fid, $('#'+pid).val(), $(this).val(), $('#'+rid).val()); 
            });
            selgain.append($('<option></option>').attr('value', '0').text('low')).attr('selected', true);
            selgain.append($('<option></option>').attr('value', '1').text('high')).attr('selected', false);
            cont.append($('<span>Map for run '+pedestal_update_files[fid].run_number+' part: <span>')).append(sel)
            .append($('<span> gain :</span>')).append(selgain);
            cont.append('<span><span style="background-color: '+noise_cmap[0]+'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> ped diff < 0.5 ');
            cont.append('<span style="background-color: '+noise_cmap[1]+'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> ped diff < 0.5 but with deviation in the past');
            cont.append('<span style="background-color: '+noise_cmap[2]+'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> ped diff > 0.5 ');
            cont.append('<span style="background-color: '+noise_cmap[3]+'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> ped diff > 3 ');
            cont.append('<span style="background-color: '+noise_cmap[4]+'">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> bad.');
            cont.append(' Click a cell to display time evolution of ADC.</span>');
            var tabl = $("<table width='100%' height='400px' class='colmap'></table>");
            tabl.click(function(evt) {
                var pattern = /^noise_map_(\d+)_(\d+)_(\d+)$/i;
                var m = pattern.exec(evt.target.id);
                var modid = ''+(Number.parseInt(m[2])+1);
                if(m) noise_show_channel_time_evolution(m[1], $('#'+pid).val(), modid, m[3], $('#'+gid).val());
            });
            var w = (100.0/64.0); var h = (100.0/48.0);
            for(var chanid=0; chanid<48; ++chanid) {
                var trel = $('<tr height="'+h+'%"></tr>');
                for(var modid = 0; modid < 64; modid++) {
                    trel.append('<td id="'+mapid+'_'+modid+'_'+chanid+'" height="'+h+'%" width="'+w+'%"></td>');
                }
                tabl.append(trel);
            }
            tabl.append(trel);
            cont.append(tabl);
            $('#pedestal_update_container').append(cont);
            noise_show_map_for_part(fid, parts[0], '0', 'db');
        }
    }
    
    function noise_show_map_for_part(fid, partid, gainid, runid) {
        console.log('noise_show_map_for_part fid:'+fid+' part: '+partid+' gain: '+gainid+' run: '+runid);
        var mapid = 'noise_map_'+fid;
        var res, diff, val, refval;
        for(var chanid=0; chanid<48; ++chanid) {
            var cid = ''+chanid;
            for(var modid = 0; modid < 64; modid++) {
                var mid = ''+(modid+1);
                var cellid = mapid+'_'+modid+'_'+chanid;
                res = 0; val = 0; refval = 0;
                try {
                    d = noise_data[partid][mid][cid][gainid][fid];
                    val = d[0];
                    refval = d[1];
                    // bad channels
                    if(d[6]) res = 4;
                    else {
                       diff = Math.abs(d[0] - d[1]);
                       if (diff > 3) res = 3;
                       else if (diff > 0.5) res = 2;
                       else res = 1;
                    }
                }
                catch(exc) {}
                $('#'+cellid).css('background', noise_cmap[res]);
                $('#'+cellid).attr('title', partid+mid+' c'+cid+' '+(gainid == '0' ? 'lg' : 'hg') + ' '+val + ' / ' + refval);
            }
        }
    }
    
    function noise_show_channel_time_evolution(fid, partid, modid, chanid, gainid) {
        console.log('noise_show_channel_time_evolution part: '+partid+' mod: '+modid+' chan: '+chanid+' gain: '+gainid);
        var elid = 'noise_adc_evol_'+partid+'_'+modid+'_'+chanid+'_'+gainid;
        if($('#'+elid).length) $('#'+elid).remove();
        else {
            try {
                var data = noise_data[partid][modid][chanid][gainid];
                if(data) {
                    var cont = noise_make_div(elid, 'chart');
                    noise_make_close_link(cont, elid);
                    var chartid = elid+'_chart';
                    cont.append('<div id="'+chartid+'"></div>');
                    $('#pedestal_update_container').append(cont);
                    var ch = {divname: chartid, rawdata: data,
                        title: 'Time evolution for '+partid+modid+' ch'+chanid+' '+(gainid == '0' ? 'lg':'hg'),
                        title_y: 'Pedestal [counts]'
                    };
                    noise_show_channel_time_evolution_chart(ch);
                }
            }
            catch(exc) {
                console.log("Unable to find data: "+exc);
            }
        }
    }
    
    function noise_show_channel_time_evolution_chart(ch) {
        console.log("noise_show_channel_time_evolution_chart() ");
        try {
            ch.table = new google.visualization.DataTable();
            ch.table.addColumn('datetime', 'Time');
            ch.table.addColumn({type: 'string', role: 'tooltip', 'p': {html: true}});
            ch.table.addColumn('number', 'Run');
            ch.table.addColumn('number', 'DB');
            ch.table.addColumn('number');
            ch.table.addColumn('number');
            ch.data = [];
            for(var fid in pedestal_update_files) {
                var filed = pedestal_update_files[fid];
                var d = new Date(filed.info.date);
                var data = ch.rawdata[fid];
                var toolttext = '<div><b>Run:</b> '+filed.run_number+'<br>';
                toolttext += '<b>Date:</b> '+d.toDateString()+'</br>';
                toolttext += '<b>Run:</b> '+data[0]+'</br>';
                toolttext += '<b>DB:</b> '+data[1]+'</br>';
                toolttext += '</div>';
                ch.data.push([d, toolttext, data[0], data[1], data[0], data[1]]);
            }
            ch.table.addRows(ch.data);
            
            var options = { 
                title: ch.title, 
                legend: { position: 'top' },
                focusTarget: 'category',
                tooltip: {isHtml: true},
                series: {
                    0: { color: 'red', lineWidth: 2 },
                    1: { color: 'yellow', lineWidth: 2 },
                    2: { color: 'black', lineWidth: 0, pointSize: 5, visibleInLegend: false },
                    3: { color: 'black', lineWidth: 0, pointSize: 5, visibleInLegend: false }
                },
                hAxis: {
                    baselineColor: 'black',
                    title: 'Time',
                    titleTextStyle: { italic: false},
                    gridlines: {color: '#a0a0a0', count:10},
                },
                vAxis: {
                    baselineColor: 'black',
                    title: ch.title_y,
                    titleTextStyle: { italic: false},
                    gridlines: {color: '#a0a0a0', count:10},
                },
                explorer: {}
            };
            ch.element = document.getElementById(ch.divname);
            ch.chart = new google.visualization.LineChart(ch.element);
            ch.chart.draw(ch.table, options);
        }
        catch(exc) {
            console.log("noise_show_channel_time_evolution_chart Error drawing chart: "+exc);
        }
    }
    
    function noise_show_run_info(fid) {
        var inforowid = 'noise_row_run_info_'+fid;
        if($('#'+inforowid).length) {
            $('#'+inforowid).remove();
            $('#'+inforowid+'_dummy').remove();
        }
        else {
            var rowid = 'noise_row_run_'+fid;
            var inforowelem = $('<tr id="'+inforowid+'"></tr>');
            var infotxt = '<p><b>SQLite file:</b> '+pedestal_update_files[fid].info.sqlite_file+'<br>'+
                        '<b>Attributes:</b> ';
            for(var i in pedestal_update_files[fid].info.attributes) infotxt += pedestal_update_files[fid].info.attributes[i]+' ';
            infotxt += '<br><b>Low gain thresholds:</b> ';
            for(var i in pedestal_update_files[fid].info.lg_thresholds) infotxt += pedestal_update_files[fid].info.lg_thresholds[i]+' ';
            infotxt += '<br><b>High gain thresholds:</b> ';
            for(var i in pedestal_update_files[fid].info.hg_thresholds) infotxt += pedestal_update_files[fid].info.hg_thresholds[i]+' ';
            infotxt += '</p>';
            
            inforowelem.append($('<td colspan="6"></td>').html(infotxt));
            $(inforowelem).insertAfter('#'+rowid);
            $($('<tr id="'+inforowid+'_dummy"></tr>').append('<td colspan="6"></td>')).insertAfter('#'+rowid);
        }
    }
    
    /**  Make sure the chart code is loaded  */
    function noise_init_charts() {
        try {
            google.charts.load("current", {packages:['corechart', 'line']});
            google.charts.setOnLoadCallback(noise_draw_main_time_evolution_chart);
        }
        catch(exc) { }
    }
    
    $.getScript('https://www.gstatic.com/charts/loader.js', noise_init_charts);
    //$(document).ready(noise_init_plugin);
    noise_init_plugin();
    
    function noise_make_div(divid, divclass) {
        return $('<div id="'+divid+'" class="'+divclass+'"></div>').css('border', '1px solid silver').css('padding', '10px').css('margin', '2px');
    }
    
    function noise_make_close_link(divelem, id_div) {
        console.log("noise_make_close_link " + id_div);
        divelem.append($('<a href="#" class="link" style="color:blue">close</a>').click(function(evt){
            $('#'+id_div).remove();
            evt.preventDefault();
            evt.stopPropagation();
        }));
        divelem.append('<br>');
    }
    
    function noise_show_ped_distribution(fid) {
        var contid = 'ped_diff_dist_'+fid;
        var ped_div = $('#'+contid);
        if(ped_div.length) ped_div.remove();
        else {
            var id_lg = 'ped_diff_dist_lg_'+fid;
            var id_hg = 'ped_diff_dist_hg_'+fid;
            var cont = noise_make_div(contid, 'chart');
            noise_make_close_link(cont, contid);
            cont.append("<table width='100%'><tr><td width='50%'><div id='"+id_lg+"'></div></td><td width='50%'><div id='"+id_hg+"'></div></td></tr></table>");
            $('#pedestal_update_container').append(cont);
            // make the charts
            var run_number = pedestal_update_files[fid].run_number;
            var ped_dist_hg = {data: pedestal_update_files[fid].ped_diff_hg, 
                            chart: null, title: 'Pedestal high gain difference for run '+run_number, 
                            divname:'ped_diff_dist_hg_'+fid};
            var ped_dist_lg = {data: pedestal_update_files[fid].ped_diff_lg, 
                            chart: null, title: 'Pedestal low gain difference for run '+run_number, 
                            divname:'ped_diff_dist_lg_'+fid};
            noise_init_diff_dist_chart(ped_dist_hg);
            noise_init_diff_dist_chart(ped_dist_lg);
        }
    }
    
    function noise_adc_id_str(partid, modid, chanid, gainid) {
        return partid+modid+' ch'+chanid+' '+(gainid =='1' ? 'hg':'lg');
    }
    
    function noise_make_adc_evolution_link(partid, modid, chanid, gainid) {
        return $('<a href="#" class="link" style="color:blue">'+noise_adc_id_str(partid, modid, chanid, gainid)+'</a>').
            click(function(evt) {
                noise_show_channel_time_evolution(0, partid, modid, chanid, gainid);
                evt.preventDefault();
                evt.stopPropagation();
        });
    }
    
    function noise_show_strange_channels(fid) {
        var id_div = 'ped_strange_channels_'+fid;
        var div_elem = $('#'+id_div);
        if(div_elem.length) div_elem.remove();
        else {
            var diffdiv = noise_make_div(id_div, 'diffs');
            noise_make_close_link(diffdiv, id_div);
            
            // insert header and controls
            var thresholdid = id_div+'_threshold';
            var inclbadcheckid = id_div+'_incl_bad';
            var sel = $('<select id="'+thresholdid+'"></select>').change(function() { 
                noise_update_adc_list(fid, tableid, $(this).val(), $('#'+inclbadcheckid).is(':checked')); 
            });
            for(var i in noise_ped_thresholds) 
                sel.append($('<option></option>').
                    attr('value', i).text(noise_ped_thresholds[i]).
                    attr('selected', i==(noise_ped_thresholds.length-1)));
        
            var incbad = $('<input type="checkbox" id="'+inclbadcheckid+'" name="inclbad"></input>').change(function() {
                noise_update_adc_list(fid, tableid, $('#'+thresholdid).val(), $(this).is(':checked')); 
            });
            diffdiv.append($('<span>The ADC:s in run '+pedestal_update_files[fid].run_number+' with a difference in pedestal larger than: </span>')).
                append(sel).append('<span>[counts]. </span>').append(incbad).append('<span>include bad channels.</span>').append('<br>');
            
            // make table
            var difftr = $('<tr></tr>');
            difftr.append('<th></th>').append('<th>ADC id</th>').append('<th>is bad</th>').append('<th>Ped (run/db)</th>').append('<th>Ped diff</th>')
                .append('<th>Lfn (run/db)</th>').append('<th>Lfn diff (rel)</th>')
                .append('<th>Hfn (run/db)</th>').append('<th>Hfn diff (rel)</th>');
            var tableid = id_div+'_table';
            var table = $('<table id="'+tableid+'" class="noise"></table>');
            table.append($('<thead></thead>').append(difftr));
            diffdiv.append(table);
            
            $('#pedestal_update_container').append(diffdiv);
            noise_update_adc_list(fid, tableid, noise_ped_thresholds.length-1, false);
        }
    }
    
    function noise_update_adc_list(fid, tableid, thresholdid, inclbad) {
        console.log('noise_update_adc_list '+fid+' '+tableid+ ' '+thresholdid+' '+inclbad);
        var table = $('#'+tableid);
        var tbody = table.find('tbody');
        tbody.empty();
        var difftr;
        var chancount = 1;
        for(var partid in noise_data) {
            if(partid == 'diffs') continue;
            for(var modid in noise_data[partid]) {
                if(modid == 'diffs') continue;
                for(var chanid in noise_data[partid][modid]) {
                    for(var gainid in noise_data[partid][modid][chanid]) {
                        var data = noise_data[partid][modid][chanid][gainid][fid];
                        if((inclbad || !data[6]) && Math.abs(data[0] - data[1]) > noise_ped_thresholds[thresholdid]) {
                            difftr = $('<tr></tr>');
                            difftr.append($('<td></td>').append(chancount));
                            difftr.append($('<td></td>').append(noise_make_adc_evolution_link(partid, modid, chanid, gainid)));
                            difftr.append('<td>'+data[6]+'</td>');
                            // ped
                            difftr.append('<td>'+data[0].toPrecision(raw_prec) + ' / '+data[1].toPrecision(raw_prec)+'</td>');
                            difftr.append('<td>'+(Math.abs(data[0] - data[1])).toPrecision(raw_prec)+'</td>');
                            // lfn
                            difftr.append('<td>'+data[2].toPrecision(raw_prec) + ' / '+data[3].toPrecision(raw_prec)+'</td>');
                            difftr.append('<td>'+(Math.abs((data[2] - data[3]))/data[3]).toPrecision(raw_prec)+'</td>');
                            // hfn
                            difftr.append('<td>'+data[4].toPrecision(raw_prec) + ' / '+data[5].toPrecision(raw_prec)+'</td>');
                            difftr.append('<td>'+(Math.abs((data[4] - data[5]))/data[5]).toPrecision(raw_prec)+'</td>');
                            table.append(difftr);
                            chancount += 1;
                        }
                    }  
                }
            }
        }
    }
</script>
<plugin_content>
	 <div id="pedestal_update_container" width="100%"></div>
</plugin_content>